@use "../../../sasslib/service.scss" as s;

.payment-bar {
  display: flex;
  justify-content: center;

  color: s.color(grey);

  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;

  &--profitable {
    color: #26bf80;
  }
}
