@use "../../../sasslib/service.scss" as s;

.page-info {
  @extend .section;
  flex-direction: column;
  align-items: center;
  gap: s.space(3);

  &__title {
    color: s.color(black);
    font-weight: 500;
    font-size: s.size(middle);
  }

  &__subtitle {
    color: s.color(grey);
    font-size: s.size(small);
    font-weight: 400;
  }
}
