.section-title {
  color: #000;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
